body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #222;
  color: #CCC;
  padding: 16px;
  display: flex;
  gap: 24px;
  flex-direction: column;
}

.warning{
  color: red;
  font-weight: bold;
}

.ipd{
  background-color: rgb(41, 58, 20);
}

.dama{
  background-color: rgb(36, 25, 47);
}

.morfo{
  background-color: rgb(59, 35, 35);
}

.mate{
  background-color: rgb(66, 64, 38);
}

.materia legend{
  font-weight: bold;
}

.materia>legend{
  font-size: 22px;
}

a, a:visited{
  color: #CCC;
}

a:hover{
  color: #86f860;
}